@import url('https://fonts.googleapis.com/css?family=Cutive+Mono');

.lighter {
    font-family: 'Cutive Mono', monospace;
    padding-left: 15px;
    padding-right: 15px;
}

.lighter .line {
    display: inline-flex;
    line-height: 1rem;
    width: 100%;
}

.lighter.line-number-block {
    counter-reset: line;
}

.lighter.line-number-block  .line-number:before {
    counter-increment: line;
    content: counter(line);
    display: inline-block;
    border-right: 1px solid #ddd;
    padding: .4rem .7em;
    margin-right: .3em;
    width: 1.5rem;
    text-align: right;
    color: #888
}

.lighter .line .node {
    padding: .4rem .3em;
    margin: 0;
}

.lighter .line .node .segment {
    color: orangered;
    font-weight: 600;
}

.lighter .line .node .split {
    margin-left: 0.1rem;
    margin-right: 0.1rem;
}

.lighter .line .node .data {

}

.lighter .line .node .number {
    color: #57bb9a;
}

.lighter .line .node .mixed {
    color: darkslateblue;
}

.lighter .line .node .string {
    color: forestgreen;
}

.lighter .line .node .end-line {
    color: orangered;
}

.lighter .line .node .bracket {
    color:black;
}