.lighter {
    counter-reset: line;
}

.lighter .line {
    display: inline-flex;
    line-height: 1.5rem;
    width: 100%;
}

.lighter .line p {
    padding: .5rem .3em;
    margin: 0;
}

.lighter .line:before {
    counter-increment: line;
    content: counter(line);
    display: inline-block;
    border-right: 1px solid #ddd;
    padding: .5rem 1em;
    margin-right: .3em;
    width: .7rem;
    text-align: right;
    color: #888
}

.lighter .line .node {

}

.lighter .line .node .segment {

}

.lighter .line .node .split {

}

.lighter .line .node .data {

}

.lighter .line .node .number {

}

.lighter .line .node .mixed {

}

.lighter .line .node .string {

}

.lighter .line .node .end-line {

}

.lighter .line .node .bracket {

}